<h1>CSI IN ACTION</h1>
<p>CSI is a key  focus area in every community we operate in and is central to our sustainable business model.  While we support many worthy causes that aid society's most vulnerable, our purpose and the true strength of our social outreach programs lays in creating a meaningful difference through investing in people and developing sustainable local skills. We strive to enhance community potential by partnering with local communities through a participative approach that integrates them into our value chain and creates strong, quality local suppliers.</p>
<p class="second-p">Our main CSI focus areas revolve around:
    - Skills Development
    - Youth employment
    - SMME & Rural Enterprise Development
    - Job creation and entrepreneurship</p>

<!--Basic structure of slider-->
<div class="container">
    <!--Area of the images-->
       <div class="wrapper">
          <img src="../../../assets/images/CSI_1.jpg">
          <img src="../../../assets/images/CSI_2.jpg">
          <img src="../../../assets/images/CSI_3.jpg">
          <img src="../../../assets/images/CSI_4.jpg">
          <img src="../../../assets/images/CSI_5.jpg">
          <img src="../../../assets/images/CSI_6.jpg">
          <img src="../../../assets/images/CSI_7.jpg">
          <img src="../../../assets/images/CSI_8.jpg">
          <img src="../../../assets/images/CSI_9.jpg">
          <img src="../../../assets/images/CSI_10.jpg">
          <img src="../../../assets/images/CSI_11.jpg">
          <img src="../../../assets/images/CSI_12.jpg">
          <img src="../../../assets/images/CSI_13.jpg">
       </div>
</div>