<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="nunito fancy-heading" style="font-size: 2rem">
          <span class="top d-block">GENERAL FAQS</span>
          Any Question? Check the FAQs or Contact Us
          <span class="line d-block"><span class="dot"></span></span>
        </h1>
  
        <p class="mt-4">
          Calvin & Family Security is a dynmic, multi national security business, We respond to our clients needs by giving them tailor made end to end security solutions which utilize the latest technology & global best practice standards.
          We are positioned & geared to operate even in high risk, hostile and complex environments. Through dedication and vast experience, Calvin and Family Security has positioned itself as a formidable force within the security industry landscape as a professional and reliable security service provider.
        </p>
  
        <div class="row">
          <!-- <div class="col-md-6">
              <h4 class="mb-1 d-flex align-items-center">
                  <i class="bi bi-check"></i>   Static Guard Service
              </h4>
              <h4 class="mb-1 d-flex align-items-center">
                  <i class="bi bi-check"></i>   Corporate Services
              </h4>
  
          
          </div> -->
          <!-- <div class="col-md-6">
              <h4 class="mb-1 d-flex align-items-center">
                  <i class="bi bi-check"></i>   Security Consultancy
              </h4>
              <h4 class="mb-1 d-flex align-items-center">
                  <i class="bi bi-check"></i>   Technical Services
              </h4>
          </div> -->
  
          <div class="col-md-12">
              <div class="col-text-icon d-flex align-items-center justify-content-start">
                  <div class="d-flex gap-3">
                    <i class="bi bi-people-fill"></i>
                    <h1>
                      Call to ask any question
                      <span> (+27) 031 566 5253 </span>
                    </h1>
                  </div>
                </div>
          </div>
  
          <div class="col-md-12 mt-2 mb-5">
          <a href="" class="btn btn-primary btn-big">Explore FAQs</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="accordion" id="accordionPanelsStayOpenExample">
    
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                  How to apply online?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                  <strong>Simply click on Careers on cfgsecurity.co.za</strong> and click on Apply once you have found a position that you may be fit for.
                </div>
              </div>
            </div>
        
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                  Where is the head office located?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                  <strong>12 Dorrington Crescent, Durban North, 4053</strong>. 
                </div>
              </div>
            </div>
        
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                  What time do the offices open?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                  <strong>Head Office - 8:00am</strong> on weekdays and is closed on weekends.
                </div>
              </div>
            </div>
        
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                    How to apply for bursaries?
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                  <div class="accordion-body">
                    Bursary applications will be advertised on all social media platforms when available.
                  </div>
                </div>
              </div>
        
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                   How to apply for internships?
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                  <div class="accordion-body">
                    <strong>Visit cfgsecurity.co.za</strong>, all available opportunities will be listed as they become available.
                  </div>
                </div>
              </div>
        
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                    Do we open on weekends?
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                  <div class="accordion-body">
                    <strong>No.</strong> However all services are operational 24/7.
                  </div>
                </div>
              </div>
        
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseSeven">
                    How long does it take to get a response to your application?
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSeven">
                  <div class="accordion-body">
                    <strong>2 weeks.</strong> If you do not recieve a response from us within 2 weeks, please consider your application unnsuccessful.
                  </div>
                </div>
              </div>
        
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingEight">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false" aria-controls="panelsStayOpen-collapseEight">
                    How to apply for inservice training?
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingEight">
                  <div class="accordion-body">
                    For inservice trainings, Kindly email<strong> hr@calvinandfamily.co.za</strong> 
                </div>
              </div>
        
          </div>
      </div>
    </div>
  </div>
  