<!--Upper Navbar START-->
<nav class="navbar-one flex"> 
    <div class="left flex"> <!--Left side of the navbar--> <!--Styled with Flex to separate the divs-->
      <div class="email">
        <i [ngClass] = "faEnvelope"></i>
        <span>   Security@calvinandfamily.co.za</span>
      </div>
      <div class="call">
       
        <a href="tel:031 566 5253"> <i [ngClass] = "faPhone"></i></a>
        <span>   <a href="tel:031 566 5253"></a></span>
      </div>
      <div class="careers">
        <!-- <i class="fa fa-phone-alt"></i> -->
        <a routerLink="/careers"><span>Careers &nbsp;</span></a>
      </div>
      <span>|</span>
      <div class="news">
        <!-- <i class="fa fa-phone-alt"></i> -->
        <a routerLink="/news"><span> &nbsp; News</span></a>
      </div>
    </div> <!--Left side of the navbar END-->
  
    <div class="right flex"> <!--Right side of the navbar--> <!--Styled with Flex to separate the divs-->
      <div class="twitter">
        <a href="https://twitter.com/calvinandfamily" target="_blank"><i [ngClass] = "faTwitter"></i></a>
      </div>
      <div class="facebook">
        <a href="https://web.facebook.com/www.calvinandfamily.co.za"><i [ngClass] = "faFacebook"></i></a>
      </div>
      <div class="instagram">
        <a href="https://www.instagram.com/calvinandfamilygroup/?hl=en"><i [ngClass] = "faInstagram"></i></a>
      </div>
      <div class="linkedin">
        <a href="https://www.linkedin.com/company/calvin-and-family-group/"><i [ngClass] = "faLinkedin"></i></a>
      </div>
    </div>
  </nav>
  <!--Upper Navbar END-->
