* {
  font-size: 13.5px;
}

.navbar-one {
  background-color: #2b3680;
  color: rgb(255, 255, 255);
  height: 40px;
  cursor: pointer;
}

.left > div + div {
  margin-left: 40px;
}

.right > div + div {
  margin-left: 15px;
}

.left > div:hover,
.right > div:hover {
  color: rgb(255, 0, 0);
  transition: all 0.5s;
}

a {
  color: var(--white);
}

a:link {
  text-decoration: none;
}

a:hover {
  color: rgb(255, 0, 0);
}

@media only screen and (max-width: 600px) {
  span {
    display: none;
  }
  nav{
    padding: 4px 14px;
  }
}
