<!--Upper Navbar START-->
<nav class="navbar-one flex"> 
    <div class="left flex"> <!--Left side of the navbar--> <!--Styled with Flex to separate the divs-->
      <div class="email">
        <fa-icon [icon] = "faEnvelope"></fa-icon>
        <span>   Security@calvinandfamily.co.za</span>
      </div>
      <div class="call">
        <fa-icon [icon] = "faPhone"></fa-icon>
        <span>   031 566 5253</span>
      </div>
      <div class="careers">
        <i class="fa fa-phone-alt"></i>
        <a routerLink="/careers"><span>Careers &nbsp;</span></a>
      </div>
      <span>|</span>
      <div class="news">
        <i class="fa fa-phone-alt"></i>
        <a routerLink="/news"><span> &nbsp; News</span></a>
      </div>
    </div> <!--Left side of the navbar END-->
  
    <div class="right flex"> <!--Right side of the navbar--> <!--Styled with Flex to separate the divs-->
      <div class="twitter">
        <a href="https://twitter.com/calvinandfamily"><fa-icon [icon] = "faTwitter"></fa-icon></a>
        
      </div>
      <div class="facebook">
        <a href="https://web.facebook.com/www.calvinandfamily.co.za"><fa-icon [icon] = "faFacebook"></fa-icon></a>
        
      </div>
      <div class="instagram">
        <a href="https://www.instagram.com/calvinandfamilygroup/?hl=en"><fa-icon [icon] = "faInstagram"></fa-icon></a>
        
      </div>
      <div class="linkedin">
        <a href="https://www.linkedin.com/company/calvin-and-family-group/"><fa-icon [icon] = "faLinkedin"></fa-icon></a>
        
      </div>
    </div>
  </nav>
  <!--Upper Navbar END-->
