<app-banner title="Sign up" bg="assets/images/team.PNG"></app-banner>

<div *ngIf="user" class="login bg-white box-shadow border-radius">
  <div class="form-group">
    <label for="">Your name</label>
    <input
      type="text"
      [(ngModel)]="user.Name"
      class="form-control"
      name=""
      id=""
      [ngClass]="{'border-red': nameError}"
    />
    <div class="error" *ngIf="nameError">{{nameError}}</div>
  </div>
  <div class="form-group">
    <label for="">Phone Number</label>
    <input
      type="text"
      [ngClass]="{'border-red': phoneNumberError}"
      [(ngModel)]="user.PhoneNumber"
      class="form-control"
      name=""
      id=""
    />
    <div class="error" *ngIf="phoneNumberError">{{phoneNumberError}}</div>
  </div>
  <div class="form-group">
    <label for="">Your email</label>
    <input
      type="email"
      [(ngModel)]="user.Email"
      class="form-control"
      name=""
      id=""
    />
    <div class="error" *ngIf="emailError">{{emailError}}</div>
  </div>
  <div class="form-group">
    <label for="">Create password</label>
    <input
      type="password"
      [(ngModel)]="user.Password"
      class="form-control"
      name=""
      id=""
    />
    <div class="error" *ngIf="passwordError">{{passwordError}}</div>
  </div>
  <div class="form-group">
    <label for="">Confirm password</label>
    <input  [ngClass]="{'border-red': confirmPasswordError}"
      type="password"
      [(ngModel)]="confirmPassword"
      class="form-control"
      name=""
      id=""
    />
    <div class="error" *ngIf="confirmPasswordError">{{confirmPasswordError}}</div>
  </div>


  <button
    class="btn btn-primary"
    (click)="signUp()"
  >
    Sign Up
  </button>
<!-- 
  <div class="alert alert-warning mt-5" *ngIf="error" role="alert">
    {{ error }}
  </div> -->
</div>
