.cards{
    padding: 4rem;
    max-width: 106rem;
    margin: -3rem auto;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-gap: 10px;
}

h1{
    text-align: center;
    margin: 2rem auto;
    border-bottom: 3px solid blue;
    width: 280px;
    border-bottom-width: 3px;
}

@media only screen and (max-width: 600px) {
    .cards{
        grid-template-columns: repeat(1,100%);
        padding: 1rem;
        grid-gap: 30px;
    }

    h1{
        margin-bottom: 60px;
    }
}