<section class="our-values">
    <div class="row">
      <h2 class="section-heading">OUR VALUES</h2>
    </div>
    <div class="row">
      <div class="column">
        <div class="card">
          <!-- <div class="icon-wrapper">
            <i class="fas fa-hammer"></i>
          </div> -->
          <h3>INTEGRITY</h3>
          <p>
            Doing the right thing even when nobody is watching, behaving honestly and consistently adhering to high ethical standards.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <!-- <div class="icon-wrapper">
            <i class="fas fa-brush"></i>
          </div> -->
          <h3>COMMITMENT</h3>
          <p>
            We remain committed to our responsibility towards the goals, mission, and vision of the organization.
          </p>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <!-- <div class="icon-wrapper">
            <i class="fas fa-wrench"></i>
          </div> -->
          <h3>EQUITY</h3>
          <p>
            Our positive equity has enough assets to cover its liabilities.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <!-- <div class="icon-wrapper">
            <i class="fas fa-truck-pickup"></i>
          </div> -->
          <h3>PEOPLE FIRST</h3>
          <p>
            As Calvin and Family Group Security, we pride ourselves in caring for team members first and foremost.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <!-- <div class="icon-wrapper">
            <i class="fas fa-broom"></i>
          </div> -->
          <h3>Youth Empowerment</h3>
          <p>
            Development of the attitude of self-reliance. Creation of job opportunities. Reduction of social miscreants in society. Youths are equipped with right values that will help guide their lives.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <!-- <div class="icon-wrapper">
            <i class="fas fa-plug"></i>
          </div> -->
          <h3>Women Empowerment</h3>
          <p>
            When we empower women, we increase the skilled workforce, local economies are strengthened, businesses do better, and families rise out of poverty and create generational wealth and self-sufficiency.
          </p>
        </div>
      </div>
    </div>
  </section>