<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="nunito fancy-heading">
        <span class="top d-block">WHY CHOOSE US</span>
        We Are Here To Protect, National Safety - Our Commitment
        <span class="line d-block"><span class="dot"></span></span>
      </h1>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div
          class="col-text-icon d-flex align-items-center justify-content-start"
        >
          <div class="d-flex gap-3">
            <i class="bi bi-people-fill"></i>
            <h1>
              Best In Industry
              <span style="font-size: 1rem;"> Only registered Psira security officers </span>
            </h1>
          </div>
        </div>

        <div
          class="col-text-icon d-flex align-items-center justify-content-start"
        >
          <div class="d-flex gap-3">
            <i class="bi bi-people-fill"></i>
            <h1>
              Award Winning
              <span style="font-size: 1rem;"> Over 10 business & industry awards </span>
            </h1>
          </div>
        </div>

        <div
          class="col-text-icon d-flex align-items-center justify-content-start"
        >
          <div class="d-flex gap-3">
            <i class="bi bi-people-fill"></i>
            <h1>
              Quality
              <span style="font-size: 1rem;"> Relevant legislation &  Standards </span>
            </h1>
          </div>
        </div>

        <div
          class="col-text-icon d-flex align-items-center justify-content-start"
        >
          <div class="d-flex gap-3">
            <i class="bi bi-people-fill"></i>
            <h1>
              Embedded Security Managers
              <span style="font-size: 1rem;"> Security managers with experience </span>
            </h1>
          </div>
        </div>

        <div
          class="col-text-icon d-flex align-items-center justify-content-start"
        >
          <div class="d-flex gap-3">
            <i class="bi bi-people-fill"></i>
            <h1>
              Health
              <span style="font-size: 1rem;"> Ensuring health of all stakeholders </span>
            </h1>
          </div>
        </div>


      </div>

      <div class="col-md-4">
        <img src="assets/images/ACCESS_CONTROL_2.jpg" alt="" />
      </div>

      <div class="col-md-4">
        <div
          class="col-text-icon d-flex align-items-center justify-content-start"
        >
          <div class="d-flex gap-3">
            <i class="bi bi-people-fill"></i>
            <h1>
              Professional Staff
              <span style="font-size: 1rem;"> Trained and Registered, Authorised on registered grades </span>
            </h1>
          </div>
        </div>

        <div
          class="col-text-icon d-flex align-items-center justify-content-start"
        >
          <div class="d-flex gap-3">
            <i class="bi bi-people-fill"></i>
            <h1>
              24/7 Support
              <span style="font-size: 1rem;"> Our control room is active 24/7 </span>
            </h1>
          </div>
        </div>
        <div
          class="col-text-icon d-flex align-items-center justify-content-start"
        >
          <div class="d-flex gap-3">
            <i class="bi bi-people-fill"></i>
            <h1>
              Training
              <span style="font-size: 1rem;"> Security training and awareness </span>
            </h1>
          </div>
        </div>
        <div
          class="col-text-icon d-flex align-items-center justify-content-start"
        >
          <div class="d-flex gap-3">
            <i class="bi bi-people-fill"></i>
            <h1>
              Safety
              <span style="font-size: 1rem;"> Commitment to the health & safety </span>
            </h1>
          </div>
        </div>
        <div
          class="col-text-icon d-flex align-items-center justify-content-start"
        >
          <div class="d-flex gap-3">
            <i class="bi bi-people-fill"></i>
            <h1>
              Environment
              <span style="font-size: 1rem;"> Protection of assets and property </span>
            </h1>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
