<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="nunito fancy-heading">
        <span class="top d-block">ABOUT US</span>
        The Best IT Solution With 10 Years of Experience
        <span class="line d-block"><span class="dot"></span></span>
      </h1>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div
          class="col-text-icon d-flex align-items-center justify-content-start"
        >
          <div class="d-flex gap-3">
            <i class="bi bi-people-fill"></i>
            <h1>
              Call to ask any question
              <span> +012 345 6789 </span>
            </h1>
          </div>
        </div>

        <div
          class="col-text-icon d-flex align-items-center justify-content-start"
        >
          <div class="d-flex gap-3">
            <i class="bi bi-people-fill"></i>
            <h1>
              Call to ask any question
              <span> +012 345 6789 </span>
            </h1>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <img src="https://demo.htmlcodex.com/pro/startup/img/feature.jpg" alt="" />
      </div>
      <div class="col-md-4">
        <div
          class="col-text-icon d-flex align-items-center justify-content-start"
        >
          <div class="d-flex gap-3">
            <i class="bi bi-people-fill"></i>
            <h1>
              Call to ask any question
              <span> +012 345 6789 </span>
            </h1>
          </div>
        </div>

        <div
          class="col-text-icon d-flex align-items-center justify-content-start"
        >
          <div class="d-flex gap-3">
            <i class="bi bi-people-fill"></i>
            <h1>
              Call to ask any question
              <span> +012 345 6789 </span>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
