<section class="footer">
    <div class="footer_container">
        <div class="footer_row">
            <div class="footer_col">
                <h4>QUICK LINKS</h4>
                <ul>
                    <li><a routerLink="/">HOME</a></li>
                    <li><a routerLink="/about-us">ABOUT US</a></li>
                    <li><a routerLink="/product-and-services">PRODUCTS & SERVICES</a></li>
                    <li><a routerLink="/sectors">SECTORS</a></li>
                    <li><a routerLink="/responsibility">RESPONSIBILITY</a></li>
                    <li><a routerLink="/downloads">DOWNLOADS</a></li>
                    <li><a routerLink="/careers">NEWS</a></li>
                    <li><a routerLink="/news">CAREERS</a></li>
                </ul>

            </div>
            <div class="footer_col">
                <h4>SECURITY DIVISION BRANCHES</h4>
                <ul>
                    <li><a routerLink="/">HEAD OFFICE (DURBAN)</a></li>
                    <li><a routerLink="/">GAUTENG</a></li>
                    <li><a routerLink="/">FREE STATE</a></li>
                    <li><a routerLink="/">WESTERN CAPE</a></li>
                    <li><a routerLink="/">MTUBATUBA</a></li>
                    <li><a routerLink="/">LESOTHO</a></li>
                    <li><a routerLink="/">LIMPOPO</a></li>
                    <li><a routerLink="/">VIEW MORE</a></li>
                </ul>
            </div>
            <div class="footer_col">
                <h4>FOLLOW US</h4>
                <div class="social-links">
                    <a routerLink="/"><fa-icon [icon] = "faTwitter"></fa-icon></a>
                    <a routerLink="/"><fa-icon [icon] = "faFacebook"></fa-icon></a>
                    <a routerLink="/"><fa-icon [icon] = "faInstagram"></fa-icon></a>
                    <a routerLink="/"><fa-icon [icon] = "faLinkedin"></fa-icon></a>
                </div>
                <p>All rights reserved 2022 | A division of Calvin and Family Group.</p>
            </div>
        </div>
    </div>
</section>