
<footer>
    <div class="row primary">
      <div class="column about">
        <h3>Calvin & Family Group Security</h3>
        <p>
            Multi-national security business who rates customer satisfaction as one of it's core values. We
            respond to our customers needs by giving them tailor made end to end security solutions which utilize
            the latest technology & global best practice standards.
        </p>
      </div>
      <div class="column links">
        <h3>Quick Links</h3>
        <ul>
          <li>
            <a routerLink="/faq-section">F.A.Q</a>
          </li>
          <li>
            <a href="#cookies-policy">Cookies Policy</a>
          </li>
          <li>
            <a href="#terms-of-services">Terms Of Service</a>
          </li>
          <li>
            <a href="#support">Support</a>
          </li>
          <li>
            <a href="#careers">Careers</a>
          </li>
        </ul>
      </div>
      <div class="column subscribe">
        <h3>Subscribe</h3>
        <div>
          <input type="email" placeholder="Insert your email address here" />
          <button>Subscribe to our newsletter</button>
        </div>
        <section style="display: flex; justify-content:center;">
            <div class="twitter" style="margin-right: 10px;">
                <a href="https://twitter.com/calvinandfamily" target="_blank"><i [ngClass] = "faTwitter"></i></a>
              </div>
              <div class="facebook" style="margin-right: 10px;">
                <a href="https://web.facebook.com/www.calvinandfamily.co.za"><i [ngClass] = "faFacebook"></i></a>
              </div>
              <div class="instagram" style="margin-right: 10px;">
                <a href="https://www.instagram.com/calvinandfamilygroup/?hl=en"><i [ngClass] = "faInstagram"></i></a>
              </div>
              <div class="linkedin">
                <a href="https://www.linkedin.com/company/calvin-and-family-group/"><i [ngClass] = "faLinkedin"></i></a>
              </div>
        </section>
      </div>
    </div>

    <!-- <div class="row secondary">
      <div>
        <p>
          <i class="fas fa-phone-alt"></i>
        </p>
        <p>+12 123456789</p>
      </div>
      <div>
        <p><i class="fas fa-envelope"></i></p>
        <p>mail@domain.com</p>
      </div>
      <div>
        <p><i class="fas fa-map-marker-alt"></i></p>
        <p>1234 Pearl Street</p>
      </div>
    </div> -->

    <div class="row copyright">
      <p>Copyright &copy; 2023 Calvin & Family Group Security | All Rights Reserved</p>
    </div>
  </footer>

