<app-banner title="products and services" bg="assets/images/IndexSliderImages/VIP_PROTECTION.png"></app-banner>
<h1>OVERVIEW</h1>
<p>Our wide range of products and services transform traditional <br> security services into intelligence-driven operations that add value for our customers. Our premium offering includes physical solutions, <br> remote monitoring centre and integrated solutions, Estate living and commercial density solutions, smart building solutions, fire and servicing solutions and specialised services. <br> We combine technology and human capital to ensure the safety of our clients, as a first priority. Our local knowledge and global standards allow us to safely manage the protection of buildings, <br> infrastructure, resources, valuables, people and society.</p>
<app-what-we-do></app-what-we-do>
<app-corporate-services></app-corporate-services>
<app-security-consulting></app-security-consulting>
<app-technical-services></app-technical-services>
<app-cyber-security-services></app-cyber-security-services>
<app-technology></app-technology>
<app-training></app-training>
<app-ohands-policy></app-ohands-policy>
<app-loader></app-loader>