<div class="hero">
  <section class="info transparent">
    <h1>NATIONAL SAFETY, OUR COMMITMENT</h1>
    <p>
      Mission: Hand-on operations will become the service provider of choice for
      corporate South African Government.
    </p>
    <a routerLink="contactus">CONTACT US</a>
  </section>
  <section class="form transparent">
    <h3>Connect with us easily</h3>
    <div class="inputs">
      <input type="text" placeholder="First name" />
      <input type="text" placeholder="Last name" />
      <input type="text" placeholder="Email address" />
      <input type="text" placeholder="Contact number" />
    </div>
    <p style="text-align:center; margin-bottom: 5px;">
      If you are looking to work for Calvin and Family Security, Please
      <a style="color: white;" routerLink="/"> click here</a>
    </p>
    <button>Next</button>
  </section>
</div>


