<app-banner title="Sign up" bg="assets/images/team.PNG"></app-banner>

<div class="login bg-white box-shadow border-radius row">
  <div class="col-md-12 mb-3">
    <h4>Please sign up to apply for our vacances.</h4>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="">Your name</label>
      <input
        (keyup)="validate('Name')"
        type="text"
        [(ngModel)]="newUser.Name"
        class="form-control"
        name=""
        id=""
        [ngClass]="{ 'border-red': nameError }"
      />
      <div class="error" *ngIf="nameError">{{ nameError }}</div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="">Your Surname</label>
      <input
        (keyup)="validate('Surname')"
        type="text"
        [(ngModel)]="newUser.Surname"
        class="form-control"
        name=""
        id=""
        [ngClass]="{ 'border-red': nameError }"
      />
      <div class="error" *ngIf="nameError">{{ nameError }}</div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="">Phone Number</label>
      <input
        type="text"
        [ngClass]="{ 'border-red': phoneNumberError }"
        (keyup)="validate('PhoneNumber')"
        [(ngModel)]="newUser.PhoneNumber"
        class="form-control"
        name=""
        id=""
      />
      <div class="error" *ngIf="phoneNumberError">{{ phoneNumberError }}</div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="">Your email</label>
      <input
        type="email"
        [(ngModel)]="newUser.Email"
        class="form-control"
        name=""
        id=""
      />
      <div class="error" *ngIf="emailError">{{ emailError }}</div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="">Create password</label>
      <input
        type="password"
        [(ngModel)]="newUser.Password"
        class="form-control"
        name=""
        id=""
      />
      <div class="error" *ngIf="passwordError">{{ passwordError }}</div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="">Confirm password</label>
      <input
        [ngClass]="{ 'border-red': confirmPasswordError }"
        type="password"
        [(ngModel)]="confirmPassword"
        class="form-control"
        name=""
        id=""
      />
      <div class="error" *ngIf="confirmPasswordError">
        {{ confirmPasswordError }}
      </div>
    </div>
  </div>

  <button class="btn btn-primary" (click)="signUp()">Sign Up</button>
  <a class="link-info mt-2" routerLink="/login">Already have account? Login</a>
  <!-- 
  <div class="alert alert-warning mt-5" *ngIf="error" role="alert">
    {{ error }}
  </div> -->
</div>
