<!-- Image Slider START
<section>
<div class="cta-container">
  <app-hero-cta></app-hero-cta>
</div>
  <div class="slidershow middle">
    <div class="slides">
      <input type="radio" name="r" id="r1" checked />
      <input type="radio" name="r" id="r2" />
      <input type="radio" name="r" id="r3" />
      <input type="radio" name="r" id="r4" />
      <input type="radio" name="r" id="r5" />
      <div class="slide s1">
        <img src="../assets/images/home2.jpg" alt="" />
      </div>
      <div class="slide">
        <img src="../assets/images/image2.jpg" alt="" />
      </div>
      <div class="slide">
        <img src="../assets/images/image3.jpg" alt="" />
      </div>
      <div class="slide">
        <img src="../assets/images/image4.jpg" alt="" />
      </div>
      <div class="slide">
        <img src="../assets/images/image5.jpeg" alt="" />
      </div>
    </div>

    <div class="navigation">
      <label for="r1" class="bar"></label>
      <label for="r2" class="bar"></label>
      <label for="r3" class="bar"></label>
      <label for="r4" class="bar"></label>
      <label for="r5" class="bar"></label>
    </div>
  </div>
</section> -->



<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="assets\images\IndexSliderImages\VIP_PROTECTION.png" class="d-block w-100" alt="assets/images/image5.jpeg">
      <div class="carousel-caption d-none d-md-block">
        <h1>VIP PROTECTION</h1>
        <p>Some representative placeholder content for the first slide.</p>
        <button type="button" class="btn btn-primary">Read More</button>

      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="assets\images\IndexSliderImages\ACCESS_CONTROL.png" class="d-block w-100" alt="assets/images/image5.jpeg">
      <div class="carousel-caption d-none d-md-block">
        <h1>ACCESS CONTROL</h1>
        <p>Some representative placeholder content for the first slide.</p>
        <button type="button" class="btn btn-primary">Primary</button>

      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="assets\images\IndexSliderImages\ARMED_UNARMED_GUARDING.png" class="d-block w-100" alt="assets/images/image5.jpeg">
      <div class="carousel-caption d-none d-md-block">
        <h1>ARMED & UNARMED GUARDING</h1>
        <p>Some representative placeholder content for the first slide.</p>
        <button type="button" class="btn btn-primary">Primary</button>

      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>