<div
  id="carouselExampleInterval"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <div class="__overlay"></div>
      <!-- <img
        src="https://demo.htmlcodex.com/pro/startup/img/carousel-1.jpg"
        class="d-block w-100"
        alt="assets/images/image5.jpeg"
      /> -->
      <img
        src="assets\images\IndexSliderImages\Alarm_system.png"
        class="d-block w-100"
        alt="assets/images/image5.jpeg"
      />
      <div class="carousel-caption d-none d-md-block">
        <h1 class="nunito">vip protection</h1>
        <p>
          We use highly trained personnel and state-of-the-art technology for
          the best solutions.
        </p>
        <div class="d-flex gap-3 justify-content-center" >
          <button type="button" class="btn btn-primary">Request Qoute</button>
          <button type="button" class="btn btn-light">Contact Us</button>
        </div>
      
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <div class="__overlay"></div>

      <img
        src="assets\images\IndexSliderImages\ACCESS_CONTROL.png"
        class="d-block w-100"
        alt="assets/images/image5.jpeg"
      />
      <div class="carousel-caption d-none d-md-block">
        <h1>ACCESS CONTROL</h1>
        <p>
          Our Access control is a method of guaranteeing that users are who they
          say they are and that they have the appropriate access.
        </p>
        <div class="d-flex gap-3 justify-content-center" >
          <button type="button" class="btn btn-primary">Request Qoute</button>
          <button type="button" class="btn btn-light">Contact Us</button>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <div class="__overlay"></div>

      <img
        src="assets\images\IndexSliderImages\ARMED_UNARMED_GUARDING.png"
        class="d-block w-100"
        alt="assets/images/image5.jpeg"
      />
      <div class="carousel-caption d-none d-md-block">
        <h1>ARMED & UNARMED GUARDING</h1>
        <p>Professionals protecting you, your family or your business.</p>
        <div class="d-flex gap-3 justify-content-center" >
          <button type="button" class="btn btn-primary">Request Qoute</button>
          <button type="button" class="btn btn-light">Contact Us</button>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <div class="__overlay"></div>

      <img
        src="assets\images\IndexSliderImages\VIP_PROTECTION.png"
        class="d-block w-100"
        alt="assets/images/image5.jpeg"
      />
      <div class="carousel-caption d-none d-md-block">
        <h1>ALARM SYSTEMS</h1>
        <p>
          Improve your Home Security and get the Best Security System for your
          Home or Business.
        </p>
        <div class="d-flex gap-3 justify-content-center" >
          <button type="button" class="btn btn-primary">Request Qoute</button>
          <button type="button" class="btn btn-light">Contact Us</button>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleInterval"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleInterval"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

  <div class="stat">
    <div class="col-text-icon d-flex align-items-center justify-content-center">
      <div class="d-flex gap-3">
        <i class="bi bi-people-fill"></i>
        <h1>
          Happy clients
          <span> 763 </span>
        </h1>
      </div>
    </div>
    <div class="col-text-icon middle d-flex align-items-center justify-content-center" >
      <div class="d-flex gap-3">
        <i class="bi bi-people-fill"></i>
        <h1>
          Projects Done
          <span> 12 649 </span>
        </h1>
      </div>
    </div>
    <div class="col-text-icon d-flex align-items-center justify-content-center">
      <div class="d-flex gap-3">
        <i class="bi bi-people-fill"></i>
        <h1>
          Awards
          <span> 15 </span>
        </h1>
      </div>
    </div>
  </div>
</div>
