.carousel-caption {
  bottom: unset;
  background: var(--primary-transparent);
  border-radius: var(--border-radius);
  padding: 2rem;
  width: fit-content;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: slide-in 0.4s ease-in-out 0.5s forwards;
}
.carousel-caption h1 {
  font-weight: 800;
}
.carousel-caption h1,
.carousel-caption p {
  color: var(--white);
}
.carousel {
  position: relative;
}
.stat {
  background: var(--primary);
  width: 60%;
  position: absolute;
  height: 10rem;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5rem;
  display: grid;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
}

.stat .child {
  padding: 20px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.child .bi{
  background: white;
  height: 2.5rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.child h1{
  color: white;
  font-size: .8rem;
}

.child h1 span {
  display: block;
  font-size: 1.2rem;
}
.middle {
  background: var(--cloud);
}
@keyframes slide-in {
  0% {
    top: 200%;
  }
  100% {
    top: 50%;
  }
}
