.carousel-caption{
    bottom: unset;
    background: var(--primary-transparent);
    border-radius: var(--border-radius);
    padding: 2rem;
    width: fit-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}
.carousel-caption h1{
    font-weight: 800;
}
.carousel-caption h1,.carousel-caption p{
    color:  var(--white);
}