<app-banner title="Login" bg="assets/images/team.PNG"></app-banner>

<div class="login bg-white box-shadow border-radius">
    <!-- <img src="assets/images/logo.png" alt=""> -->
<div class="form-group">
    <label for="">User name</label>
    <input type="email" [(ngModel)]="email" class="form-control"  name="" id="">
</div>

<div class="form-group">
    <label for="">Password</label>
    <input type="password" [(ngModel)]="password" class="form-control" name="" id="">
</div>
<button class="btn btn-primary d-block" (click)="login()" [disabled]="!email || !password">Login</button>
<a class="link-info mt-2" routerLink="/sign-up">Dont have account yet? Sign up.</a>

</div>
