<div class="title">
    <h1>OUR FOOTPRINT</h1>
</div>

<div class="our-foot-print">
    <section class="info">
        <ul>
            <li><b>HEAD OFFICE (DURBAN)</b> - info@calvinandfamily.co.za</li>
            <li><b>GAUTENG</b> - gauteng@calvinandfamily.co.za</li>
            <li><b>FREE STATE</b> - freestate@calvinandfamily.co.za</li>
            <li><b>WESTERN CAPE</b> - westerncape@calvinandfamily.co.za</li>
            <li><b>MTUBATUBA</b> - mtuba@calvinandfamily.co.za</li>
            <li><b>LIMPOPO</b> - limpopo@calvinandfamily.co.za</li>
            <li><b>MPUMALANGA</b> - mp@calvinandfamily.co.za</li>
            <li><b>LESOTHO</b> - lesotho@calvinandfamily.co.za</li>
            <li><b>NAMIBIA</b> - namibia@calvinandfamily.co.za</li>
            <li><b>NORTH WEST</b> - nw@calvinandfamily.co.za</li>
            
        </ul>
    </section>
    <section class="picture">
        <img src="../../../assets/images/OUR_FOOTPRINT.png" alt="">
    </section>
</div>






