<!--Lower Navbar START-->
<!-- <nav class="navbar-second flex">
   
    <div class="logo2">
      <a href="#"><img src="../../../assets/images/try2.png" alt=""></a>
    </div>
    
    <ul class="flex">
      <li><a routerLink="/about-us">ABOUT US</a></li>
      <li><a routerLink="/product-and-services">PRODUCTS & SERVICES</a></li>
      <li><a routerLink="/sectors">SECTORS</a></li>
      <li><a routerLink="/responsibility">CSI</a></li>
      <li><a routerLink="/downloads">DOWNLOADS</a></li>
      <button class="btn" routerLink="/login">LOG IN</button>
      
    </ul>

  <button class="open-menu" (click)="showMenu = true">
    <span></span>
    <span></span>
    <span></span>
  </button> 
  </nav> -->

<div class="d-flex justify-content-between align-items-center _nav">
  <a href="#"><img src="../../../assets/images/try2.png" alt="" /></a>

  <ul class="flex">
    <li>
      <a
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/about-us"
        >About us</a
      >
    </li>
    <li>
      <a
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/product-and-services"
        >Products & services</a
      >
    </li>
    <li>
      <a
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/sectors"
        >Sectors</a
      >
    </li>
    <li>
      <a
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/responsibility"
        >Csi</a
      >
    </li>
    <li>
      <a
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/downloads"
        >Downloads</a
      >
    </li>
    <li>
      <a
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/dashboard"
        >Dashboard</a
      >
    </li>
    <button *ngIf="!user" class="btn btn-primary" routerLink="/login">Log in</button>
    <button *ngIf="user" class="btn btn-light" routerLink="/profile">Hello {{user.Name}}</button>
    <button *ngIf="user"  class="btn btn-light" (click)="logout()" href="/">Logout</button>
  </ul>

  <button class="btn btn-primary btn-mobile-menu" (click)="showMenu = true">
    <i class="bi bi-list"></i>
  </button>
</div>

<div class="_overlay" *ngIf="showMenu" (click)="showMenu = false"></div>
<div class="mobile-menu" *ngIf="showMenu">
  <button class="btn btn-primary" (click)="showMenu = false">
    <i class="bi bi-x"></i>
  </button>
  <ul class="items">
    <li><a (click)="showMenu = false" routerLink="/about-us">ABOUT US</a></li>
    <li>
      <a (click)="showMenu = false" routerLink="/product-and-services"
        >PRODUCTS & SERVICES</a
      >
    </li>
    <li><a (click)="showMenu = false" routerLink="/sectors">SECTORS</a></li>
    <li><a (click)="showMenu = false" routerLink="/responsibility">CSI</a></li>
    <li><a (click)="showMenu = false" routerLink="/downloads">DOWNLOADS</a></li>
    <button
      (click)="showMenu = false"
      class="btn btn-primary"
      routerLink="/login"
    >
      LOG IN
    </button>
  </ul>
</div>
<!--Lower Navbar END-->
