h1{
    text-align: center;
    margin: 2rem auto;
    margin-top: 33px;
    margin-bottom: -25px;
    color: white;
}

p{
    text-align: center;
    margin: 2rem auto;
    line-height: 1.4em;
    color: white;
}

img{
    display: block;
    margin: 0 auto 0 auto;
    height: 300px;
    width: 450px;
    margin-bottom: 50px;
    /* padding: 0px; */
    border: 10px solid #fff;
    border-radius: 8px;
    box-shadow: -1px 5px 15px black;
}

.newsdetails{
    background-color: #1285C7;
    padding:1px;
}