<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 class="nunito fancy-heading">
        <span class="top d-block">ABOUT US</span>
        The Best IT Solution With 10 Years of Experience
        <span class="line d-block"><span class="dot"></span></span>
      </h1>

      <p class="mt-4">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed sint
        impedit expedita perspiciatis perferendis explicabo quae veritatis
        voluptatem id nostrum iste, debitis temporibus ut, recusandae harum
        veniam illum! Consequuntur tempore fuga soluta atque cupiditate optio
        quod deleniti, voluptas rem sunt.
      </p>

      <div class="row">
        <div class="col-md-6">
            <h4 class="mb-1 d-flex align-items-center">
                <i class="bi bi-check"></i>   Lorem ipsum
            </h4>
            <h4 class="mb-1 d-flex align-items-center">
                <i class="bi bi-check"></i>   Lorem ipsum
            </h4>

        
        </div>
        <div class="col-md-6">
            <h4 class="mb-1 d-flex align-items-center">
                <i class="bi bi-check"></i>   Lorem ipsum
            </h4>
            <h4 class="mb-1 d-flex align-items-center">
                <i class="bi bi-check"></i>   Lorem ipsum
            </h4>
        </div>

        <div class="col-md-12">
            <div class="col-text-icon d-flex align-items-center justify-content-start">
                <div class="d-flex gap-3">
                  <i class="bi bi-people-fill"></i>
                  <h1>
                    Call to ask any question
                    <span> +012 345 6789 </span>
                  </h1>
                </div>
              </div>
        </div>

        <div class="col-md-12 mt-5 mb-5">
        <a href="" class="btn btn-primary btn-big">Get a qoute</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img src="https://demo.htmlcodex.com/pro/startup/img/about.jpg" alt="" />
    </div>
  </div>
</div>
