<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 class="nunito fancy-heading" style="font-size: 2rem">
        <span class="top d-block">ABOUT US</span>
        The Best Security Solutions With 18 Years of Experience
        <span class="line d-block"><span class="dot"></span></span>
      </h1>

      <p class="mt-4">
        Calvin & Family Security is a dynmic, multi national security business, We respond to our clients needs by giving them tailor made end to end security solutions which utilize the latest technology & global best practice standards.
        We are positioned & geared to operate even in high risk, hostile and complex environments. Through dedication and vast experience, Calvin and Family Security has positioned itself as a formidable force within the security industry landscape as a professional and reliable security service provider.
      </p>

      <div class="row">
        <div class="col-md-6">
            <h4 class="mb-1 d-flex align-items-center">
                <i class="bi bi-check"></i>   Static Guard Service
            </h4>
            <h4 class="mb-1 d-flex align-items-center">
                <i class="bi bi-check"></i>   Corporate Services
            </h4>

        
        </div>
        <div class="col-md-6">
            <h4 class="mb-1 d-flex align-items-center">
                <i class="bi bi-check"></i>   Security Consultancy
            </h4>
            <h4 class="mb-1 d-flex align-items-center">
                <i class="bi bi-check"></i>   Technical Services
            </h4>
        </div>

        <div class="col-md-12">
            <div class="col-text-icon d-flex align-items-center justify-content-start">
                <div class="d-flex gap-3">
                  <i class="bi bi-people-fill"></i>
                  <h1>
                    Call to ask any question
                    <span> (+27) 031 566 5253 </span>
                  </h1>
                </div>
              </div>
        </div>

        <div class="col-md-12 mt-2 mb-5">
        <a href="" class="btn btn-primary btn-big">Request A Quote</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img src="assets/images/image18.jpg" alt="" />
    </div>
  </div>
</div>
