<div class="body">
<div class="logos">
    <div class="logos-slide">
        
            <img src="assets/images/1.png" >
            <img src="assets/images/2.png" >
            <img src="assets/images/3.png" >
            <img src="assets/images/4.png" >
            <img src="assets/images/5.png" >
            <img src="assets/images/6.png" >
            <img src="assets/images/7.png" >
            <img src="assets/images/8.png" >
            <img src="assets/images/9.png" >
            <img src="assets/images/10.png" >

        </div>

    
    </div>
</div>

<script type="text/javascript">
    var copy = document.querySelector('.logos-slide').cloneNode(true);
    document.querySelector('.logos').appendChild(copy);
</script>
