 <!-- Preloader Start -->
 <div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="assets/img/logo/logo.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->

<app-slider></app-slider>
<app-news></app-news>
<!-- <app-new-cards></app-new-cards> -->
<app-who-are-we></app-who-are-we>
<app-what-we-do></app-what-we-do>
<app-our-foot-print></app-our-foot-print>
<app-our-values></app-our-values>
