<section>

    <h1 class="nunito fancy-heading">
      <span class="top d-block">OUR LATEST NEWS</span>
      Follow us on social media for more.
      <span class="line d-block"><span class="dot"></span></span>
    </h1>


  <div class="container">
    <div class="row mt-5">
      <div class="col-md-4"  *ngFor="let item of newsList">
        <app-card
         
          (btnEvent)="readNews($event)"
          [newsId]="item.NewsId"
          [image]="item.ImageUrl"
          [title]="item.Title"
          [button]="'READ MORE'"
        ></app-card>
      </div>
    </div>
  </div>

  <!-- <div class="cards"></div> -->
</section>
