<div class="table_responsive">
    <table>
      <thead>
        <tr>
          <th>Position</th>
          <th>Closing</th>
          <th>Location</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody *ngFor="let item of CareersList">
        <tr>
          <td>{{item.Title}}</td>
          <td>{{item.Closing_date}}</td>
          <td>{{item.Street_address}}</td>
          <td>
            <span class="action_btn">
              <a [routerLink]="'/application/'+item.Career_id">View job</a>
              <!-- <a href="#">Share</a> -->
            </span>
          </td>
        </tr>
      

        <!-- <tr>
          <td>Marketing Specialist</td>
          <td>2022/12/06</td>
          <td>Gauteng</td>
          <td>
            <span class="action_btn">
              <a href="#">Apply</a>
              <a href="#">Share</a>
            </span>
          </td>
        </tr>


        <tr>
          <td>Security Guard</td>
          <td>2022/12/06</td>
          <td>Polokwane</td>
          <td>
            <span class="action_btn">
              <a href="#">Apply</a>
              <a href="#">Share</a>
            </span>
          </td>
        </tr>

        <tr>
            <td>HR Manager</td>
            <td>2022/12/06</td>
            <td>Namibia</td>
            <td>
              <span class="action_btn">
                <a href="#">Apply</a>
                <a href="#">Share</a>
              </span>
            </td>
          </tr>

          <tr>
            <td>Health & Safety</td>
            <td>2022/12/06</td>
            <td>Durban North</td>
            <td>
              <span class="action_btn">
                <a href="#">Apply</a>
                <a href="#">Share</a>
              </span>
            </td>
          </tr>
   -->

      </tbody>
    </table>
  </div>
