
<app-banner title="about us" bg="assets/images/team.PNG"></app-banner>
<app-who-are-we></app-who-are-we>
<!-- <app-our-values></app-our-values> -->
<app-animated-cards></app-animated-cards>
<app-what-we-do></app-what-we-do>
<app-our-foot-print></app-our-foot-print>
<app-affiliations></app-affiliations>
<app-leadership-team></app-leadership-team>
<app-awards></app-awards>
<app-technology></app-technology>
<app-training></app-training>
<app-ohands-policy></app-ohands-policy>
<app-loader></app-loader>