
<app-banner title="about us" bg="assets/images/team.PNG"></app-banner>

<div style="margin-top: 15rem;"></div>

<app-about-section></app-about-section>
<!-- <app-who-are-we></app-who-are-we> -->
<!-- <app-our-values></app-our-values> -->

<div style="margin-top: 15rem;"></div>

<app-animated-cards></app-animated-cards>

<div style="margin-top: 15rem;"></div>

<app-what-we-do></app-what-we-do>

<div style="margin-top: 15rem;"></div>

<app-our-foot-print></app-our-foot-print>

<div style="margin-top: 15rem;"></div>

<app-affiliations></app-affiliations>

<div style="margin-top: 15rem;"></div>


<app-leadership-team></app-leadership-team>

<div style="margin-top: 15rem;"></div>


<app-awards></app-awards>

<div style="margin-top: 15rem;"></div>

<app-technology></app-technology>
<app-training></app-training>
<app-ohands-policy></app-ohands-policy>
<app-loader></app-loader>
<div style="margin-top: 15rem;"></div>