<!-- 
<section *ngIf="careersItem">


    <div class="form">
        <h1>
            Add Careers
        </h1>
        <div class="form-item">
            <label for="">Title</label>
            <input type="text" [(ngModel)]="careersItem.Title">
        </div>
        <div class="form-item">
            <label for="">Body</label>
            <textarea type="text" [(ngModel)]="careersItem.Body"></textarea>
        </div> 
        <div class="form-item">
            <label for="">Image</label>
          <app-image-widget [image]="careersItem.ImageUrl" (imageChangedEvent)="onImageUploaded($event)"></app-image-widget>
        </div> 
        <div class="form-item">
            <button (click)="save()">Save</button>
        </div>
    </div>
</section> -->