<div class="dashboard" *ngIf="user">
  <div class="menu">
    <div class="item">
      <p>
        <a routerLink="/">Home</a>
      </p>
    </div>
    <div  class="item">
      <p>
        <a routerLink="login">Login</a>
      </p>
    </div>
    <div  class="item" (click)="goto('/add-news')">
      <p>
        <a >Add News</a>
      </p>
    </div>
    <div  class="item" (click)="goto('/add-careers')">
      <p>
        <a >Add Careers</a>
      </p>
    </div>
  </div>
</div>

<div class="dashboard" *ngIf="!user">
  <p class="not-logged">
    Lorem ipsum dolor sit amet. <br>
    <a style="width: fit-content; margin: 10px auto;" class="btn btn-primary" (click)="goto('/login')">Please login</a>
  </p>
</div>
