.menu {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  padding: 2rem;
  max-width: 80%;
  margin: 1rem auto;
  grid-gap: 1rem;
}
.item {
  background: white;
  padding: 3rem;
  text-align: center;
  font-weight: 600;
  border-radius: .5rem;
  cursor: pointer;
}
.dashboard {
  height: 100vh;
  background: rgb(219, 219, 219);
}

a{
    display: block;
    z-index: 1000;
    position: relative;
}


.not-logged{
  text-align: center;
  padding: 15% 0;
}