<div class="dashboard" *ngIf="user">
  <div class="menu">
    <div class="item">
      <p>
        <a routerLink="/">Home</a>
      </p>
    </div>
    <!-- <div  class="item">
      <p>
        <a routerLink="login">Login</a>
      </p>
    </div> -->
    <div  class="item" (click)="goto('/add-news')">
      <p>
        <a > News</a>
      </p>
    </div>
    <div  class="item" (click)="goto('/cv_storage')">
      <p>
        <a > CV Storage </a>
      </p>
    </div>
    <div  class="item" (click)="goto('/list-careers')">
      <p>
        <a >Careers</a>
      </p>
    </div>
    <div  class="item" (click)="goto('/list-applicants')">
      <p>
        <a >Applicants</a>
      </p>
    </div>
    <div  class="item" (click)="goto('/applications')">
      <p>
        <a >Applications</a>
      </p>
    </div>
    <div  class="item" (click)="goto('')">
      <p>
        <a >Downloads</a>
      </p>
    </div>
    <div  class="item" (click)="goto('')">
      <p>
        <a > Edit Home Page</a>
      </p>
    </div>
    <div  class="item" (click)="goto('')">
      <p>
        <a >About Us</a>
      </p>
    </div>
    <div  class="item" (click)="goto('')">
      <p>
        <a >Products & Services</a>
      </p>
    </div>
    <div  class="item" (click)="goto('')">
      <p>
        <a >Sectors</a>
      </p>
    </div>
    <div  class="item" (click)="goto('')">
      <p>
        <a >CSI</a>
      </p>
    </div>
  </div>
</div>

<div class="dashboard" *ngIf="!user">
  <p class="not-logged">
    To access your dashboard, Please click on Login below <br>
    <a style="width: fit-content; margin: 10px auto;" class="btn btn-primary" (click)="goto('/login')">Login</a>
  </p>
</div>
