<div class="dashboard" *ngIf="user">
  <div class="menu">
    <div class="item">
      <p>
        <a routerLink="/">Home</a>
      </p>
    </div>
    <div  class="item">
      <p>
        <a routerLink="login">Login</a>
      </p>
    </div>
    <div  class="item" (click)="goto('/add-news')">
      <p>
        <a > News</a>
      </p>
    </div>
    <div  class="item" (click)="goto('/list-careers')">
      <p>
        <a >Careers</a>
      </p>
    </div>
    <div  class="item" (click)="goto('/list-applicants')">
      <p>
        <a >Applicants</a>
      </p>
    </div>
  </div>
</div>

<div class="dashboard" *ngIf="!user">
  <p class="not-logged">
    To access your dashboard, Please click on Login below <br>
    <a style="width: fit-content; margin: 10px auto;" class="btn btn-primary" (click)="goto('/login')">Login</a>
  </p>
</div>
