<div class='main-container'>

    <div class='container'>

        <div class='left-sidebar'>

            <h2>Dashboard</h2>

            <div>

                <a class='top-left-sidebar-link' routerLink="/#">View Site</a>

            </div>

            <div>

                <a class='left-sidebar-links' routerLink="/#">Home</a>

            </div>

            <div>

                <a class='left-sidebar-links' routerLink="/#">About Us</a>

            </div>



            <div>

                <a class='left-sidebar-links' routerLink="/#">Products & Services</a>

            </div>

            <div>

                <a class='left-sidebar-links' routerLink="/#">Sectors</a>

            </div>

            <div>

                <a class='left-sidebar-links' routerLink="/#">responsibility</a>

            </div>


            <div> 

                <a class='left-sidebar-links' routerLink="/#">Downloads</a>

            </div>

            <div>

                <a class='left-sidebar-links' routerLink="/#">Careers/Applicants</a>

            </div>


        </div>

        <div class='dashboard'>

            <div class='top-bar'>

                <br>

                <input placeholder="SEARCH" type='search'>


            </div>

            <h2>Calvin & Family Security</h2>

            <br>

            <div class='box-container'>

                <div class='box'>

                    <div class='box-row'>

                        <p>Home</p>

                    </div>

                    <br>

                    <p>Below you can choose to edit or view the home page.</p>

                    <br>

                    <div class='line'></div>

                    <div class='buttons-container'>

                        <a class='buttons' routerLink="/#">Edit</a>
                        <a class='buttons' routerLink="/#">View</a>

                    </div>

                </div>

                <div class='box'>

                    <div class='box-row'>

                        <p>About us</p>

                    </div>

                    <br>

                    <p>Below you can choose to edit or view the About us page.</p>

                    <br>

                    <div class='line'></div>

                    <div class='buttons-container'>

                        <a class='buttons' routerLink="/#">Edit</a>
                        <a class='buttons' routerLink="/#">View</a>

                    </div>

                </div>
                <div class='box'>

                    <div class='box-row'>

                        <p>Product & Services</p>

                    </div>

                    <br>

                    <p>Below you can choose to edit or view the Product & Services page.</p>

                    <br>

                    <div class='line'></div>

                    <div class='buttons-container'>

                        <a class='buttons' routerLink="/#">Edit</a>
                        <a class='buttons' routerLink="/#">View</a>

                    </div>

                </div>
                <div class='box'>

                    <div class='box-row'>

                        <p>Sectors</p>

                    </div>

                    <br>

                    <p>Below you can choose to edit or view the Sectors page.</p>

                    <br>

                    <div class='line'></div>

                    <div class='buttons-container'>

                        <a class='buttons' routerLink="/#">View</a>
                        <a class='buttons' routerLink="/#">Edit</a>

                    </div>

                </div>

            </div>

            <br>


            <div class='box-container'>

                <div class='box'>

                    <div class='box-row'>

                        <p>Responsibility</p>

                    </div>

                    <br>

                    <p>Below you can choose to edit or view the Responsibility page.</p>

                    <br>

                    <div class='line'></div>

                    <div class='buttons-container'>

                        <a class='buttons' routerLink="/#">Edit</a>
                        <a class='buttons' routerLink="/#">View</a>

                    </div>

                </div>

                <div class='box'>

                    <div class='box-row'>

                        <p>Downloads</p>

                    </div>

                    <br>

                    <p>Below you can choose to edit or view the Downloads page.</p>

                    <br>

                    <div class='line'></div>

                    <div class='buttons-container'>

                        <a class='buttons' routerLink="/#">Edit</a>
                        <a class='buttons' routerLink="/#">View</a>

                    </div>

                </div>
                <div class='box'>

                    <div class='box-row'>

                        <p>Careers/Applicants</p>

                    </div>

                    <br>

                    <p>Below you can choose to edit or view the Careers page.</p>

                    <br>

                    <div class='line'></div>

                    <div class='buttons-container'>

                        <a class='buttons' routerLink="/#">Edit</a>
                        <a class='buttons' routerLink="/#">View</a>

                    </div>

                </div>


            </div>


        </div>

    </div>
</div>