<div *ngIf="career" class="container-fluid dashboard-list">
    <div class="container">
      <div class="d-flex mb-5 justify-content-between">
        <div class="d-flex align-items-center gap-3">
          <h4>{{career.Title}}</h4>
        
        </div>
        <div>
          <a routerLink="/careers" class="btn btn-dark">
            <i class="bi bi-arrow-left"></i> Back
          </a>
          <a [routerLink]="'/apply-for-job/'+career.Career_id" class="btn btn-primary"><i class="bi bi-briefcase"></i> Apply now</a>
        </div>
      </div>
  

   
      
     
      <h4> Full Job Description</h4>
      <p class="w-50 pre-wrap" [innerHTML]="career.Career_description">
      
      </p>
     
    </div>
  </div>
  