<section class="title">
  <h1>WHO WE ARE</h1>
</section>

<div class="who-we-are">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>CALVIN & FAMILY SECURITY</h1>
        <p>
          Calvin & Family Security is a dynamic, multi national security
          business who rates customer satisfaction as one of it’s core values.
          We respond to our customers needs by giving them tailor made end to
          end security solutions which utilize the latest technology & global
          best practice standards. We are positioned & geared to operate even in
          high risk, hostile and complex environments. Through dedication and
          vast experience, Calvin and Family Security has positioned itself as a
          formidable force within the security industry landscape as a
          professional and reliable security service provider.
        </p>
        <br />
        <p>
          Mission: Hand-on operations will become the service provider of choice
          for corporate South African Government.
        </p>
      </div>
      <div class="col-md-6">
        <!-- <img src="http://localhost:2222/assets/images/specialevent.jpg" alt=""> -->
        <iframe
          src="https://www.youtube.com/embed/NhHMfj1NtaY"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>

<article class="blog-post">
  <div class="blog-post_img">
    <img src="assets/images/specialevent.jpg" alt=""/>
  </div>
  <div class="blog-post_info">
    <div class="blog-post_date">
      <span>Tuesday</span>
      <span>2/14/2023</span>
    </div>
    <h2 class="blog-post_title">CALVIN & FAMILY SECURITY</h2>
    <p>Calvin & Family Security is a dynamic, multi national security
      business who rates customer satisfaction as one of it’s core values.
      We respond to our customers needs by giving them tailor made end to
      end security solutions which utilize the latest technology & global
      best practice standards. We are positioned & geared to operate even in
      high risk, hostile and complex environments. Through dedication and
      vast experience, Calvin and Family Security has positioned itself as a
      formidable force within the security industry landscape as a
      professional and reliable security service provider.</p>
      <a href="#" class="blog-post_cta"> Mission: Hand-on operations will become the service provider of choice
        for corporate South African Government. </a>
  </div>
</article>
