<section class="title">
    <h1>WHO WE ARE</h1>
</section>

<div class="who-we-are">
    <section class="info">
        <h1>CALVIN & FAMILY SECURITY</h1>
        <p>Calvin & Family Security is a dynamic, multi national security business who rates customer satisfaction as one of it’s core values. We respond to our customers needs by giving them tailor made end to end security solutions which utilize the latest technology & global best practice standards. We are positioned & geared to operate even in high risk, hostile and complex environments. Through dedication and vast experience, Calvin and Family Security has positioned itself as a formidable force within the security industry landscape as a professional and reliable security service provider.</p>
        <br>
        <p>Mission: Hand-on operations will become the service provider of choice for corporate South African Government.</p>
        <button>READ MORE</button>
    </section>
    <section class="picture">
        <img src="../../../assets/images/team.PNG" alt="">
    </section>
</div>




