h1{
    text-align: center;
    margin: 2rem auto;
    border-bottom: 5px solid blue;
    width: 271px;
    border-bottom-width: 3px;
    margin-top: 124px;
}



.cards{
    padding: 4rem;
    max-width: 106rem;
    margin: -2rem auto;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-gap: 10px;
}



@media only screen and (max-width: 600px) {
    .cards{
        grid-template-columns: repeat(1,100%);
        padding: 0.5rem;
        grid-gap: 30px;
        margin-bottom: 40px;
    }

    h1{
        margin-bottom: 46px;
    }
}